.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  border-radius: 20px;
  background-color: rgba(30, 0, 77, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  color: white;
  text-align: center;
  padding: 50px 0 25px 0;
  border-radius: 10px;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.message h2 {
  margin: 10px 0;
}

.message p {
  margin: 0;
}
